{% extends "base.html" %}
{% block content %}

<div class="manage-page">

  <div class="page-header">
  <h2>Allocations</h2>
  <a href="{{ url_for('allocation_form') }}" class="btn-primary">
    + Add Allocation
  </a>
</div>


  <div class="manage-card">
    {% if allocations %}
    <table class="manage-table">
      <thead>
        <tr>
          <th>Event</th>
          <th>Resource</th>
        </tr>
      </thead>
      <tbody>
        {% for a in allocations %}
        <tr>
          <td>{{ a.event.title }}</td>
          <td>{{ a.resource.resource_name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <div class="manage-empty">No allocations yet.</div>
    {% endif %}
  </div>

</div>

{% endblock %}
